<!doctype html>
<title>Price Sheet File Selection</title>
<h2>Select a file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="uploadfile" id="Load Value" enctype="multipart/form-data">
    <dl>
		<p>
			<p><input type="file" name="filename"><input type="submit" name="submit" value="Load Data">
		</p>
    </dl>
</form>
<form method="post" action="" id="Product" enctype="multipart/form-data">
	<dl>
		<p>
  {% if categories %}
			<a>Select A Product</a>
    		<select name="category" id="category" onchange="form.submit()">
  {% for item in categories %}
			<option value="{{ item }}">{{ item }}</option>
  {% endfor %}
			</select>
  {% endif %}
		</p>
	</dl>
</form>